body {
    background: #EDEEF0;
    color: #000000;
    font-family: Trebuchet MS, Arial, Times New Roman;
    font-size: 12px;
}

.dateheader {
    background: white;
    margin: 0px;
    width: 300px;
    color: brown;
    font-size: 10px;

}

.container {
    background: white;
    margin: 0px;
    width: 300px;
    padding-bottom: 10px;
}

.header {
    background: #838283;
    height: 200px;
    width: 900px;
}

.head {
    width: 260px;
    height: 15px;
    margin-left: 40px;
    margin-right: 600px;
    margin-bottom: 0px;
    font-size: small;
    color: blue;
    background-color: transparent;
    font-size: 10px;

}

.mainImage {
    float: left;
}

.message {
    background: #FFFFFF;
    margin-left: 50px;
    font-size: small;
    color: black;
    background-color: transparent;
}

.container:hover {
    background: aliceblue;
    white-space: normal; /* Обычный перенос текста */
}

.childImage {
    background: #333333;
    float: left;
    width: 20px;
    height: 25px;
    margin-top: 5px;
    margin-left: 2px;
}

.footer {
    background: #838283;
    height: 180px;
    width: 900px;
}

.prokrutka {
    height: 600px; /* высота нашего блока */
    background: #fff; /* цвет фона, белый */
    border: 1px solid #C1C1C1; /* размер и цвет границы блока */
    overflow-y: scroll; /* прокрутка по вертикали */
    width:400px;
}