body {
    background: white;
    color: #000000;
    font-family: Trebuchet MS, Arial, Times New Roman;
    font-size: 12px;
}

.container {
    background: #FFFFFF;
    margin: 0px;
    width: 300px;
    height: 50px;
    border: 2px #000000 solid;
}

.header {
    background: #838283;
    height: 200px;
    width: 900px;
}

.head {
    width: 260px;
    height: 15px;
    margin-left: 40px;
    margin-right: 600px;
    margin-bottom: 0px;
    border-bottom: 1px #000000 solid;
    font-size: small;
    color: black;
    background-color: aliceblue;
}

.mainImage {
    float: left;
    width: 40px;
    height: 50px;
    border-right: 1px #000000 solid
}

.message {
    background: #FFFFFF;
    margin-left: 64px;
    margin-top: 5px;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
    font-size: small;
    color: blue;
    background-color: oldlace;

}

.message:hover {
    background: #f0f0f0; /* Цвет фона */
}

.childImage {
    background: #333333;
    float: left;
    width: 20px;
    height: 25px;
    margin-top: 5px;
    margin-left: 2px;
}

.footer {
    background: #838283;
    height: 180px;
    width: 900px;
}
