 body {
            /* ������ �������. */
            margin: 0px;
            /* ������ ��� �������. */
            padding: 0px;
            /* ����� �����. */
            font: 12px 'Verdana';
            COLOR: #FEDD8F;
            background: url(/images/index.gif);
        }

        .A {
            COLOR: #FEDD8F;
            font-size: 8px;
        }

        .table {
            /*background: linear-gradient(#fa7f2d, #ff6600, #fa7f2d);*/
            border-color: #ff6600;
            border-width: 5px;
            border-style: solid;
            padding: 5px;
            box-shadow: inset 0 1px #fab587, 0 3px 3px #222;
            border-radius: 3px;
            margin: 40px auto;
            align-self: center;
            background: url(/images/fonder.gif);
            TEXT-DECORATION: none;
            width: 90%;
            COLOR: #FEDD8F;
        }

        .table .td {
            border-color: #ff6600;
            border-width: 5px;
            border-style: solid;
            padding: 5px;
            box-shadow: inset 0 1px #fab587, 0 3px 3px #222;
            border-radius: 3px;
            margin: 40px auto;
            align-self: center;
            TEXT-DECORATION: none;

        }

        .table .td1 {
            border-color: #ff6600;
            border-width: 1px;
            border-style: solid;
            padding: 0px;
            box-shadow: inset 0 1px #fab587, 0 3px 3px #222;
            border-radius: 3px;
            margin: 5px auto;
            align-self: center;
            TEXT-DECORATION: none;

        }

        .button {
            border: none;
            display: block;
            width: 81px;
            height: 46px;
            margin-left: 9px;
            float: left;
            border-radius: 3px;
            background: linear-gradient(#70787e, #4b545b);
            text-transform: uppercase;
            font-family: Helvetica, Neue;
            font-size: 13px;
            font-weight: bold;
            cursor: pointer;
            color: #11161a;
            text-shadow: 0 1px 0 #727980;
            box-shadow: 0 3px 3px #222, inset 0 1px 0 #a8a8a8;
        }